<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="revised" content="Ningxia Seasons, 2015/8/13/" />
<!-- 定义页面的最新版本 -->
<meta name="description" content="网站简介" />
<!-- 网站简介 -->
<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
<!-- 搜索关键字 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<!-- Bootstrap -->
<link href="__STATIC__/css/crowdfunding.center/my_info.css" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- 开始 -->
<div class="my_info_title">修改信息</div>
<div class="my_info_title_3">
  <ul>
    <li id="listClick_1" onClick="listClick(1)">基本资料</li>
    <li id="listClick_3" onClick="listClick(3)" style="border-bottom: 1px solid #49BAEE; color: #49BAEE;">修改信息</li>
    <li id="listClick_4" onClick="listClick(4)">修改密码</li>
  </ul>
</div>


<form action="update_info" method="post">

  <table class="my_info_content_care_table">
    <tbody>
      <tr>
        <td width="90" align="right" class="color555">用户名：{$Think.session.info[0]['username']}</td>
        <td class="color555"><span class="colorCA1E37 margin_left10 font_size12">不可修改</span></td>
      </tr>
  <tr>
        <td align="right" class="color555">真实姓名：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="name" type="text">
          <span class="color959595 margin_left10 font_size12">友好提示：请诚实输入您的真实姓名</span></td>
      </tr>
<tr>
        <td align="right" class="color555">昵称：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="nickname" type="text">
          <span class="color959595 margin_left10 font_size12"></span></td>
      </tr>

      <tr>
        <td align="right" class="color555">手手机号码：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="phonenumber" type="text"><span class="color959595 margin_left10 font_size12">友好提示：网站前台不会显示您手机号</span></td>
      </tr>
    
      <tr>
        <td align="right" class="color555">性别：</td>
        <td class="color555">
          <label>
            <input type="radio" name="sex" id="" value="男">
            男士 </label>
          <label class="radio-inline">
            <input type="radio" name="sex" id="" value="女">
            女士 </label></td>
      </tr>
      <tr>
        <td align="right" class="color555">电子邮箱：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="email" type="text">
          <span class="color959595 margin_left10 font_size12">友好提示：请填写常用邮箱，您忘记密码时可用邮箱找回，有新项目动态时会发邮件给您</span></td>
      </tr>
      <tr>
        <td align="right" class="color555">身份证号：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="idnumber" type="text">
          <span class="colorCA1E37 margin_left10 font_size12">保存后不能修改，请确认无误后再保存</span></td>
      </tr>
      
      <tr>
        <td align="right" class="color555">身份类型：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="idtype" type="text">
            <span class="color959595 margin_left10 font_size12">请您如实填写</span></td>
      </tr>
     
<tr>
        <td align="right" class="color555">生日：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="birthday" type="text">
            <span class="color959595 margin_left10 font_size12">请您如实填写</span></td>
      </tr>

<tr>
        <td align="right" class="color555">出生地：</td>
        <td class="color555"><input class="my_info_content_care_table_text" name="birthplace" type="text">
            <span class="color959595 margin_left10 font_size12">请您如实填写</span></td>
      </tr>


    <tr>
        <td align="center" class="color555" colspan="2"><input class="my_info_content_care_table_submit" name="" type="submit" value="保    存"></td>
      </tr>
    </tbody>
  </table>

</div>
</form>
<!-- 结束 --> 
<script src="__STATIC__/js/jquery-2.1.1.min.js"></script> 
<script src="__STATIC__/js/my_info.js"></script>
</body>
</html>