<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="revised" content="Ningxia Seasons, 2015/8/13/" />
<!-- 定义页面的最新版本 -->
<meta name="description" content="网站简介" />
<!-- 网站简介 -->
<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
<!-- 搜索关键字 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>个人中心</title>


<!-- CSS公共部分 开始 -->
<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.__STATIC__/js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="__STATIC__/css/style.css" rel="stylesheet">
<!-- CSS公共部分 结束 -->

<link href="__STATIC__/css/crowdfunding.css" rel="stylesheet">

</head>
<body>


<!-- 核心 开始 --> 
<div class="container border1 nopadding margin10">
  <div id="vertical_navigation" class="col-lg-3 background831312 nopadding">
     <div class="dead_pic"><img src="__STATIC__/uploads/{$Think.session.image}"><br>
      <span class="username">{$Think.session.info[0]['nickname']}</span></div>
    <div class="usertype">用户类型：{$Think.session.info[0]['type']}<br>
      </div>
    <div class="menu">
      <div class="menu_title"> 我的信息 </div>
      <div class="menu_list">
        <ul class="list-unstyled">
          <li id="listClick1" class="menu_list_on" onClick="listClick(1)"><img src="__STATIC__/img/member_center/left_icon_1.png"><a href="member_center" > 基本信息</a></li>
          <li id="listClick2"  class="" onClick="listClick(2)"> <img src="__STATIC__/img/member_center/left_icon_2.png"> <a href="make_head" >修改头像</a></li>
          <li id="listClick3" class="" onClick="listClick(3)"> <img src="__STATIC__/img/member_center/left_icon_2.png"> <a href="indentity" >修改信息</a></li>
          <li id="listClick4" class="" onClick="listClick(4)"> <img src="__STATIC__/img/member_center/left_icon_3.png"><a href="make_password" > 修改密码</a></li>
          <li id="" class="" onClick="listClick(5)"> <img src=""></li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <div class="menu_title"> 我的消息 </div>
      <div class="menu_list">
        <ul class="list-unstyled">
           <li id="listClick15" class="" onClick="listClick(15)"> <img src="__STATIC__/img/member_center/left_icon_15.png"> 收件箱</li>
          <li id="" class="" onClick="listClick(14)"><img src=""> </li>
         
          <li id="" class="" onClick=""> <img src=""></li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <div class="menu_title">  </div>
      <div class="menu_list">
        <ul class="list-unstyled">
          <li id="" class="" onClick="listClick(8)"><img src=""> </li> 
          <li id="" class="" onClick="listClick(9)"> <img src=""> </li>
          <li id="" class="" onClick="listClick(10)"> <img src=""> </li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <div class="menu_title"> </div>
      <div class="menu_list">
        <ul class="list-unstyled">
          <li id="" class="" onClick="listClick(11)"><img src=""></li>
          <li id="" class="" onClick="listClick(12)"> <img src=""> </li>
          <li id="" class="" onClick="listClick(13)"> <img src=""></li>
        </ul>
      </div>
    </div>
    <div class="menu">
      <div class="menu_title">  </div>
      <div class="menu_list">
        <ul class="list-unstyled">
          <li id="" class="" onClick="listClick(14)"><img src=""> </li>
          <li id="" class="" onClick="listClick(15)"> <img src=""> </li>
          <li id="" class="" onClick=""> <img src=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
 <!--  	<iframe name="left" id="crowdfunding_iframe" src="crowdfunding.center/my_info.html" frameborder="false" scrolling="no" style="border:none;" width="100%" height="1045" allowtransparency="true"></iframe> -->

{include file="crowdfunding.center/make_password" /}
  </div>
</div>
<!-- 核心 结束 -->  


<!-- 结束 --> 
<!-- JS公共部分 开始 --> 
<script src="__STATIC__/js/jquery-2.1.1.min.js"></script> 
<script src="__STATIC__/js/bootstrap.min.js"></script> 
<script src="__STATIC__/js/basics.js"></script> 
<!-- JS公共部分 结束 --> 
<script src="__STATIC__/js/crowdfunding.js"></script>
</body>
</html>